<a href="https://colab.research.google.com/github/JKwanLee/recomm_practice/blob/initial_commit/recomm_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Copyright 2018 Google LLC.

# Introduction

We will create a movie recommendation system based on the [MovieLens](https://movielens.org/) dataset available [here](http://grouplens.org/datasets/movielens/).  The data consists of movies ratings (on a scale of 1 to 5).

## Outline
  1. Exploring the MovieLens Data (10 minutes)
  1. Preliminaries (25 minutes)
  1. Training a matrix factorization model (15 minutes)
  1. Inspecting the Embeddings (15 minutes)
  1. Regularization in matrix factorization (15 minutes)
  1. Softmax model training (30 minutes)

## Setup

Let's get started by importing the required packages.

In [1]:
# title Imports 
from __future__ import print_function

import numpy as np
import pandas as pd
import collections
from mpl_toolkits.mplot3d import Axes3D
from IPython import display
from matplotlib import pyplot as plt
import sklearn
import sklearn.manifold
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
tf.logging.set_verbosity(tf.logging.ERROR)

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:101: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [2]:
# Add some convenience functions to Pandas DataFrame.
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.3f}'.format

def mask(df, key, function):
  """Returns a filtered dataframe, by applying function to key"""
  return df[function(df[key])]

def flatten_cols(df):
  df.columns = [' '.join(col).strip() for col in df.columns.values]
  return df

pd.DataFrame.mask = mask
pd.DataFrame.flatten_cols = flatten_cols

## **Check** how df.mask & df.flatten_cols are used later!

In [3]:
# Install Altair and activate its colab renderer.
print("Installing Altair...")
!pip install git+git://github.com/altair-viz/altair.git
import altair as alt
alt.data_transformers.enable('default', max_rows=None)
alt.renderers.enable('colab')
print("Done installing Altair.")

Installing Altair...
Collecting git+git://github.com/altair-viz/altair.git
  Cloning git://github.com/altair-viz/altair.git to /tmp/pip-req-build-nfqjujki
  Running command git clone -q git://github.com/altair-viz/altair.git /tmp/pip-req-build-nfqjujki
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from altair==4.2.0.dev0) (1.19.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair==4.2.0.dev0) (2.11.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair==4.2.0.dev0) (0.3)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.7/dist-packages (from altair==4.2.0.dev0) (1.1.5)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.7/dist-packages (from altair==4.2.0.dev0) (2.6.0)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair==4.2.0.dev0) (0.11.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18->altair==4.2.0.dev0) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18->altair==4.2.0.dev0) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18->altair==4.2.0.dev0) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair==4.2.0.dev0) (2.0.1)
Building wheels for collected packages: altair
  Building wheel for altair (PEP 517) ... done
  Created wheel for altair: filename=altair-4.2.0.dev0-py3-none-any.whl size=732855 sha256=6e8934443926ba0d8f3e226fa6d9fbaf1591f77cc84918e910e72ed99fd95393
  Stored in directory: /tmp/pip-ephem-wheel-cache-tliu_5s9/wheels/06/13/e0/5bd72c969fe3954ee1561739e5c58e2ddfe5c10fcdffb12faa
Successfully built altair
Installing collected packages: altair
  Attempting uninstall: altair
    Found existing installation: altair 4.1.0
    Uninstalling altair-4.1.0:
      Successfully uninstalled altair-4.1.0
Successfully installed altair-4.2.0.dev0
Done installing Altair.

In [4]:
# Download MovieLens data.
print("Downloading movielens data...")
from urllib.request import urlretrieve
import zipfile

urlretrieve("http://files.grouplens.org/datasets/movielens/ml-100k.zip", "movielens.zip")
zip_ref = zipfile.ZipFile('movielens.zip', "r")
zip_ref.extractall()
print("Done. Dataset contains:")
print(zip_ref.read('ml-100k/u.info'))

Downloading movielens data...
Done. Dataset contains:
b'943 users\n1682 items\n100000 ratings\n'

In [5]:
pwd

'/content'

In [8]:
!ls -l

total 4820
drwxr-xr-x 2 root root    4096 Sep  6 11:38 ml-100k
-rw-r--r-- 1 root root 4924029 Sep  6 11:38 movielens.zip
drwxr-xr-x 1 root root    4096 Sep  1 19:26 sample_data

In [9]:
!ls -l ml-100k

total 15776
-rw-r--r-- 1 root root     716 Sep  6 11:38 allbut.pl
-rw-r--r-- 1 root root     643 Sep  6 11:38 mku.sh
-rw-r--r-- 1 root root    6750 Sep  6 11:38 README
-rw-r--r-- 1 root root 1586544 Sep  6 11:38 u1.base
-rw-r--r-- 1 root root  392629 Sep  6 11:38 u1.test
-rw-r--r-- 1 root root 1583948 Sep  6 11:38 u2.base
-rw-r--r-- 1 root root  395225 Sep  6 11:38 u2.test
-rw-r--r-- 1 root root 1582546 Sep  6 11:38 u3.base
-rw-r--r-- 1 root root  396627 Sep  6 11:38 u3.test
-rw-r--r-- 1 root root 1581878 Sep  6 11:38 u4.base
-rw-r--r-- 1 root root  397295 Sep  6 11:38 u4.test
-rw-r--r-- 1 root root 1581776 Sep  6 11:38 u5.base
-rw-r--r-- 1 root root  397397 Sep  6 11:38 u5.test
-rw-r--r-- 1 root root 1792501 Sep  6 11:38 ua.base
-rw-r--r-- 1 root root  186672 Sep  6 11:38 ua.test
-rw-r--r-- 1 root root 1792476 Sep  6 11:38 ub.base
-rw-r--r-- 1 root root  186697 Sep  6 11:38 ub.test
-rw-r--r-- 1 root root 1979173 Sep  6 11:38 u.data
-rw-r--r-- 1 root root     202 Sep  6 11:38 u.genre
-rw-r--r-- 1 root root      36 Sep  6 11:38 u.info
-rw-r--r-- 1 root root  236344 Sep  6 11:38 u.item
-rw-r--r-- 1 root root     193 Sep  6 11:38 u.occupation
-rw-r--r-- 1 root root   22628 Sep  6 11:38 u.user

In [11]:
!head -10 ml-100k/u.user

1|24|M|technician|85711
2|53|F|other|94043
3|23|M|writer|32067
4|24|M|technician|43537
5|33|F|other|15213
6|42|M|executive|98101
7|57|M|administrator|91344
8|36|M|administrator|05201
9|29|M|student|01002
10|53|M|lawyer|90703

In [12]:
!head -10 ml-100k/u.data

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013

In [13]:
!head -10 ml-100k/u.item

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [14]:
# Load each data set (users, movies, and ratings).
users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(
    'ml-100k/u.user', sep='|', names=users_cols, encoding='latin-1')

ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'ml-100k/u.data', sep='\t', names=ratings_cols, encoding='latin-1')

In [15]:
# The movies file contains a binary feature for each genre.
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]
movies_cols = [
    'movie_id', 'title', 'release_date', "video_release_date", "imdb_url"
] + genre_cols
movies = pd.read_csv(
    'ml-100k/u.item', sep='|', names=movies_cols, encoding='latin-1')

In [17]:
users

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
..       ...  ...  ..            ...      ...
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]

In [19]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [16]:
movies

      movie_id                                      title  ... War  Western
0            1                           Toy Story (1995)  ...   0        0
1            2                           GoldenEye (1995)  ...   0        0
2            3                          Four Rooms (1995)  ...   0        0
3            4                          Get Shorty (1995)  ...   0        0
4            5                             Copycat (1995)  ...   0        0
...        ...                                        ...  ...  ..      ...
1677      1678                          Mat' i syn (1997)  ...   0        0
1678      1679                           B. Monkey (1998)  ...   0        0
1679      1680                       Sliding Doors (1998)  ...   0        0
1680      1681                        You So Crazy (1994)  ...   0        0
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  ...   0        0

[1682 rows x 24 columns]

In [20]:
# Since the ids start at 1, we shift them to start at 0.
users["user_id"] = users["user_id"].apply(lambda x: str(x-1))
movies["movie_id"] = movies["movie_id"].apply(lambda x: str(x-1))
movies["year"] = movies['release_date'].apply(lambda x: str(x).split('-')[-1])
ratings["movie_id"] = ratings["movie_id"].apply(lambda x: str(x-1))
ratings["user_id"] = ratings["user_id"].apply(lambda x: str(x-1))
ratings["rating"] = ratings["rating"].apply(lambda x: float(x))

In [21]:
movies

     movie_id                                      title  ... Western  year
0           0                           Toy Story (1995)  ...       0  1995
1           1                           GoldenEye (1995)  ...       0  1995
2           2                          Four Rooms (1995)  ...       0  1995
3           3                          Get Shorty (1995)  ...       0  1995
4           4                             Copycat (1995)  ...       0  1995
...       ...                                        ...  ...     ...   ...
1677     1677                          Mat' i syn (1997)  ...       0  1998
1678     1678                           B. Monkey (1998)  ...       0  1998
1679     1679                       Sliding Doors (1998)  ...       0  1998
1680     1680                        You So Crazy (1994)  ...       0  1994
1681     1681  Scream of Stone (Schrei aus Stein) (1991)  ...       0  1996

[1682 rows x 25 columns]

In [23]:
genre_cols

['genre_unknown',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [24]:
movies[genre_cols]

      genre_unknown  Action  Adventure  ...  Thriller  War  Western
0                 0       0          0  ...         0    0        0
1                 0       1          1  ...         1    0        0
2                 0       0          0  ...         1    0        0
3                 0       1          0  ...         0    0        0
4                 0       0          0  ...         1    0        0
...             ...     ...        ...  ...       ...  ...      ...
1677              0       0          0  ...         0    0        0
1678              0       0          0  ...         1    0        0
1679              0       0          0  ...         0    0        0
1680              0       0          0  ...         0    0        0
1681              0       0          0  ...         0    0        0

[1682 rows x 19 columns]

In [22]:
movies[genre_cols].sum()

genre_unknown      2
Action           251
Adventure        135
Animation         42
Children         122
                ...
Romance          247
Sci-Fi           101
Thriller         251
War               71
Western           27
Length: 19, dtype: int64

In [25]:
movies[genre_cols].sum(axis=1)

0       3
1       3
2       1
3       3
4       3
       ..
1677    1
1678    2
1679    2
1680    1
1681    1
Length: 1682, dtype: int64

In [26]:
# Compute the number of movies to which a genre is assigned.
genre_occurences = movies[genre_cols].sum().to_dict()
genre_occurences

{'Action': 251,
 'Adventure': 135,
 'Animation': 42,
 'Children': 122,
 'Comedy': 505,
 'Crime': 109,
 'Documentary': 50,
 'Drama': 725,
 'Fantasy': 22,
 'Film-Noir': 24,
 'Horror': 92,
 'Musical': 56,
 'Mystery': 61,
 'Romance': 247,
 'Sci-Fi': 101,
 'Thriller': 251,
 'War': 71,
 'Western': 27,
 'genre_unknown': 2}

In [33]:
# Since some movies can belong to more than one genre, we create different
# 'genre' columns as follows:
# - all_genres: all the active genres of the movie.
# - genre: randomly sampled from the active genres.
def mark_genres(movies, genres):
  def get_random_genre(gs):
    active = [genre for genre, g in zip(genres, gs) if g==1]
    if len(active) == 0:
      return 'Other'
    return np.random.choice(active)
  def get_all_genres(gs):
    active = [genre for genre, g in zip(genres, gs) if g==1]
    if len(active) == 0:
      return 'Other'
    return '-'.join(active)
  movies['genre'] = [
      get_random_genre(gs) for gs in zip(*[movies[genre] for genre in genres])]
  movies['all_genres'] = [
      get_all_genres(gs) for gs in zip(*[movies[genre] for genre in genres])]

mark_genres(movies, genre_cols)

In [34]:
movies

     movie_id  ...                 all_genres
0           0  ...  Animation-Children-Comedy
1           1  ...  Action-Adventure-Thriller
2           2  ...                   Thriller
3           3  ...        Action-Comedy-Drama
4           4  ...       Crime-Drama-Thriller
...       ...  ...                        ...
1677     1677  ...                      Drama
1678     1678  ...           Romance-Thriller
1679     1679  ...              Drama-Romance
1680     1680  ...                     Comedy
1681     1681  ...                      Drama

[1682 rows x 27 columns]

In [32]:
movies[genre_cols].values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 1, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [35]:
# Create one merged DataFrame containing all the movielens data.
movielens = ratings.merge(movies, on='movie_id').merge(users, on='user_id')

In [36]:
movielens

      user_id movie_id  rating  unix_timestamp  ... age sex     occupation zip_code
0         195      241   3.000       881250949  ...  49   M         writer    55105
1         195      256   2.000       881251577  ...  49   M         writer    55105
2         195      110   4.000       881251793  ...  49   M         writer    55105
3         195       24   4.000       881251955  ...  49   M         writer    55105
4         195      381   4.000       881251843  ...  49   M         writer    55105
...       ...      ...     ...             ...  ...  ..  ..            ...      ...
99995     872      312   5.000       891392177  ...  48   F  administrator    33763
99996     872      325   4.000       891392656  ...  48   F  administrator    33763
99997     872      347   3.000       891392577  ...  48   F  administrator    33763
99998     872      357   2.000       891392698  ...  48   F  administrator    33763
99999     872      341   4.000       891392698  ...  48   F  administrator    33763

[100000 rows x 34 columns]

In [37]:
# Utility to split the data into training and test sets.
def split_dataframe(df, holdout_fraction=0.1):
  """Splits a DataFrame into training and test sets.
  Args:
    df: a dataframe.
    holdout_fraction: fraction of dataframe rows to use in the test set.
  Returns:
    train: dataframe for training
    test: dataframe for testing
  """
  test = df.sample(frac=holdout_fraction, replace=False)
  train = df[~df.index.isin(test.index)]
  return train, test

## **df.sample()!!**

# I. Exploring the Movielens Data
Before we dive into model building, let's inspect our MovieLens dataset. It is usually helpful to understand the statistics of the dataset.